<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book your book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="container p-2 ">
        <div class="text-right">
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{{ url_for('search_book') }}" method="POST">
                    <div>
                        <input class="form-control" type="search" placeholder="ISBN" name="isbn">
                    </div>
                    <div>
                        <input class="form-control" type="search" placeholder="Author" name="author">
                    </div>
                    <div>
                        <input class="form-control" type="search" placeholder="Name" name="bookname">
                    </div>
                    <div>
                        <button class="btn btn-outline-success " type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="pt-5">
                {% if books is none %}
                <div>
                </div>
                {% elif books|length == 0 %}
                <div>
                    No book found
                </div>
                {% else %}
                <ul>
                    {% for book in books %}
                    <li>
                        <a href="{{ url_for('book_details', book_id= book.id) }}">
                            {{ book.isbn }} - {{ book.name }} - {{ book.author }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
</body>

</html>